@charset "UTF-8";

/* ==========================================================================
   효빈위키 색상 데이터베이스
   * 이 파일에 정의된 변수들은 틀 제작기에서 자동으로 감지하여 목록을 생성합니다.
   ========================================================================== */
:root { 
    /* [기본] 시스템 색상 */
    --wiki-main: #7777AA; 
    --wiki-border: #ccc; 
    --wiki-bg: #ffffff; 
    --wiki-text: #373a3c; 
    --wiki-link: #0055AA;

    /* [노선] 도시철도/광역전철 (접두사: --line-) */
    --line-1: #0077DD;
    --line-2: #00CCAA;
    --line-3: #FFCC11;
    --line-4: #FF5522;
    --line-5: #EE0022;
    --line-6: #881188;
    --line-7: #FF8899;
    --line-8: #9856FF;
    --line-bin: #6677CC; /* 빈효선 */
    --line-chang: #33aaff; /* 창전선 */
    --line-cheong: #D6D5CA; /* 청엽선 */
    --line-an: #B2FFDD; /* 안천선 */
    --line-gang: #0054A6; /* 강빈선 */
    --line-bj1: #CFBA0F; /* 빈주1호선 */
    --line-bj2: #C455F6; /* 빈주2호선 */
    --line-bjm: #00008B; /* 빈주권 광역 */
    --line-dj1: #FF4F91; /* 덕주1호선 */
    --line-korail: #0066B3; /* 일반열차 */

    /* [버스] 버스 도색 (접두사: --bus-) */
    --bus-blue: #01B7ED; /* 간선버스 */
    --bus-yellow: #E7D600; /* 순환버스 */
    --bus-green: #37B484; /* 지선버스 */
    --bus-red: #485EC6; /* 광역버스 */
    --bus-seat: #FF5800; /* 좌석버스 */
    --bus-town: #A664A0; /* 마을버스 */
    --bus-airport: #84C36E; /* 공항버스 */
    --bus-citytour: #7777AA; /* 시티투어 */
    --bus-express: #D81C2F; /* 급행버스 */

    /* [지역] 효빈광역시 (접두사: --area-hb-) */
    --area-hb-main: #7777aa; /* 효빈광역시(대표) */
    --area-hb-jung: #BB9955; /* 중구 */
    --area-hb-dong: #FF9922; /* 동구 */
    --area-hb-seo: #00AABB; /* 서구 */
    --area-hb-nam: #DDBBFF; /* 남구 */
    --area-hb-buk: #7799CC; /* 북구 */
    --area-hb-cheong: #006699; /* 청엽구 */
    --area-hb-chang: #33AAFF; /* 창전구 */
    --area-hb-an: #AA66DD; /* 안천구 */
    --area-hb-tan: #BBFF64; /* 탄성군 */

    /* [지역] 덕빈북도 (접두사: --area-db-) */
    --area-db-main: #4AD898; /* 덕빈북도(대표) */
    --area-db-gang: #ffc94a; /* 강주시 */
    --area-db-gye: #ED7D95; /* 계성시 */
    --area-db-gun: #E7D600; /* 군천시 */
    --area-db-gi: #01B7ED; /* 기도군 */
    --area-db-nang: #485EC6; /* 낭원군 */
    --area-db-deok: #FF5800; /* 덕현군 */
    --area-db-mo: #A664A0; /* 모제군 */
    --area-db-ban: #D81C2F; /* 반양군 */
    --area-db-sang: #84C36E; /* 상안군 */
    --area-db-seojin: #9CA5B9; /* 서진시 */
    --area-db-seohae: #37B484; /* 서해시 */
    --area-db-seon: #D6D5CA; /* 선곡군 */
    --area-db-yak: #F8C8C4; /* 약산시 */
    --area-db-jeo: #1D1D1D; /* 저천군 */
    --area-db-jeon: #FF7F27; /* 전산시 */
    --area-db-chi: #aa7799; /* 치원군 */
    --area-db-cheon: #8B4993; /* 천주시 */
    --area-db-bin: #ffeeaa; /* 빈주시 */

    /* [지역] 덕빈남도 (접두사: --area-dn-) */
    --area-dn-main: #335566; /* 덕빈남도(대표) */
    --area-dn-mae: #A0FFF9; /* 매산군 */
    --area-dn-maeseong: #FF6E90; /* 매성시 */
    --area-dn-bi: #74F466; /* 비천시 */
    --area-dn-seok: #0000A0; /* 석창군 */
    --area-dn-bang: #FFF442; /* 방산시 */
    --area-dn-bun: #FF3535; /* 분주군 */
    --area-dn-go: #B2FFDD; /* 고포군 */
    --area-dn-gok: #FF51C4; /* 곡천군 */
    --area-dn-in: #4cd2e2; /* 인곡군 */
    --area-dn-gwan: #e49dfd; /* 관수군 */
    --area-dn-un: #bbff64; /* 운진군 */
    --area-dn-du: #e3ba3a; /* 두원군 */
    --area-dn-ma: #ff99be; /* 마진시 */
    --area-dn-jo: #3fb8ff; /* 덕주시 조전구 */
    --area-dn-deok: #ff9ea9; /* 덕주시 덕산구 */
    --area-dn-ha: #ff3b72; /* 하정시 */
    --area-dn-won: #00aabb; /* 원안군 */
    --area-dn-nak: #bb0033; /* 낙주시 */

    /* [정당] 제22대 (접두사: --party-22-) */
    --party-22-freeinno: #051C4C; /* 자유와혁신 */
    --party-22-peopleu: #E4017F; /* 국민연합 */
    --party-22-dpp2020: #00A85F; /* 민주평화당2020 */
    --party-22-dlp2012: #FFED00; /* 민주노동당2012 */

    /* [정당] 제21대 (접두사: --party-21-) */
    --party-21-newfuture: #51BDC5; /* 새미래민주당 */
    --party-21-climatelife: #369173; /* 기후민생당 */
    --party-21-hashtag: #f16335; /* 히시태그국민정책당 */
    --party-21-senior: #EA5404; /* 노인복지당 */
    --party-21-rep2020: #012154; /* 공화당2020 */
    --party-21-koreap: #51A776; /* 대한국민당2021 */
    --party-21-gaga: #F8C400; /* 가가국민참여신당 */
    --party-21-garak: #FF8C00; /* 가락특권폐지당 */
    --party-21-daejung: #FFEF10; /* 대중민주당 */
    --party-21-finance: #9900CC; /* 금융개혁당 */
    --party-21-commerce: #7030A0; /* 대한상공인당 */
    --party-21-pine: #1A246B; /* 소나무당 */
    --party-21-kinno: #3E63AA; /* K정치혁신연합당 */
    --party-21-pfuture: #E4002B; /* 국민의미래 */
    --party-21-minjuu: #003B96; /* 더불어민주연합 */
    --party-21-joguk: #0073CF; /* 조국혁신당 */
    --party-21-socdem2024: #F58400; /* 사회민주당2024 */
    --party-21-newprog: #00D2C3; /* 새진보연합 */
    --party-21-saemirae: #45BABD; /* 새로운미래 */
    --party-21-greenjustice: #007C36; /* 녹색정의당 */
    --party-21-reform: #FF7210; /* 개혁신당 */
    --party-21-hanfuture: #E33334; /* 한반도미래당 */
    --party-21-tomorrow: #AD469F; /* 내일로미래로 */
    --party-21-lib2020: #30318B; /* 자유당2020 */
    --party-21-newchoice: #1AD199; /* 새로운선택 */
    --party-21-farmers: #0056B8; /* 한국농어민당 */
    --party-21-sov: #00A0EA; /* 국민주권당 */
    --party-21-hope: #004B83; /* 한국의희망 */
    --party-21-open2022: #003e98; /* 열린민주당2022 */
    --party-21-newwave: #02BB71; /* 새로운물결 */
    --party-21-ppp: #E61E2B; /* 국민의힘 */
    --party-21-unity2015: #002B58; /* 국민대통합당2015 */
    --party-21-dokdo: #00984A; /* 독도한국당 */
    --party-21-libk21: #172A88; /* 자유한국21 */
    --party-21-beggar: #038ED3; /* 거지당 */
    --party-21-hallyu: #733A87; /* 한류연합당 */
    --party-21-libdem2021: #033692; /* 자유민주당2021 */
    --party-21-libuni2022: #0958A7; /* 자유통일당2022 */
    --party-21-rev21: #044EA3; /* 혁명21 */
    --party-21-unik2021: #003793; /* 통일한국당2021 */
    --party-21-prevol: #013792; /* 국민혁명당 */
    --party-21-newhanpeace: #292C93; /* 신한반도평화체제당 */
    --party-21-newlibuni: #AD469F; /* 신자유민주연합 */

    /* [정당] 제20대 (접두사: --party-20-) */
    --party-20-uniminju2016: #9ACD32; /* 통합민주당2016 */
    --party-20-probanunity: #40B02A; /* 친반국민대통합 */
    --party-20-probanuni: #8A036A; /* 친반통일당 */
    --party-20-bareunmirae: #00B4B4; /* 바른미래당 */
    --party-20-dempeace: #43B02A; /* 민주평화당 */
    --party-20-minjung2017: #F26522; /* 민중당2017 */
    --party-20-jinbo2017: #D6001C; /* 진보당2017 */
    --party-20-hwansu: #8e2650; /* 환수복지당 */
    --party-20-newminjung: #FF0D00; /* 새민중정당 */
    --party-20-patriot: #0D2680; /* 대한애국당 */
    --party-20-ourrep2017: #14A83B; /* 우리공화당2017 */
    --party-20-minjungdem: #8D2650; /* 민중민주당 */
    --party-20-socchange: #D70C19; /* 사회변혁노동자당 */
    --party-20-newhanbando: #008dd7; /* 신한반도당 */
    --party-20-peopleunity: #F26F21; /* 국민대통합당 */
    --party-20-econpatriot: #781482; /* 경제애국당 */
    --party-20-hongik: #871E60; /* 홍익당 */
    --party-20-saenuri2017: #D91E48; /* 새누리당2017 */
    --party-20-minjunguni: #EE5927; /* 민중연합당 */
    --party-20-bareun: #00B1EB; /* 바른정당 */
    --party-20-evergreen: #085C81; /* 늘푸른한국당 */
    --party-20-jobwelfare: #EA5C30; /* 고용복지연금선진화연대 */
    --party-20-libkorea: #C9151E; /* 자유한국당 */
    --party-20-mirae: #2E3192; /* 미래당 */
    --party-20-ourfuture: #E50065; /* 우리미래 */
    --party-20-socdem2016: #950F16; /* 사회민주당2016 */
    --party-20-welfarestate: #FA6500; /* 복지국가당 */
    --party-20-dawnlib: #101922; /* 자유의새벽당 */
    --party-20-natrevdiv: #E7141A; /* 국가혁명배당금당 */
    --party-20-peoplenew: #1F6DDC; /* 국민새정당 */
    --party-20-altern: #236736; /* 대안신당 */
    --party-20-newcon: #00A7E5; /* 새로운보수당 */
    --party-20-forward: #D42427; /* 미래를향한전진4.0 */
    --party-20-basicinc: #00D2C3; /* 기본소득당 */
    --party-20-libuni2020: #DF0913; /* 자유통일당2020 */
    --party-20-jobself: #752B88; /* 직능자영업당 */
    --party-20-futurekorea: #EF426F; /* 미래한국당 */
    --party-20-peoples2020: #EA5504; /* 국민의당2020 */
    --party-20-minsaeng: #0BA95F; /* 민생당 */
    --party-20-propark: #E20010; /* 친박신당 */
    --party-20-goenv: #2A91C0; /* 가자환경당 */
    --party-20-chungfuture: #AD469F; /* 충청의미래당 */
    --party-20-transition: #5A147E; /* 시대전환 */
    --party-20-openminju: #003E9B; /* 열린민주당 */
    --party-20-womens: #6400AA; /* 여성의당 */
    --party-20-smeself: #144A88; /* 중소자영업당 */
    --party-20-futuredem: #00A7E6; /* 미래민주당 */
    --party-20-togethercit: #004EA2; /* 더불어시민당 */
    --party-20-ourrep2020: #009944; /* 우리공화당2020 */
    --party-20-interkorean: #AC0300; /* 남북통일당 */
    --party-20-awakecit: #000056; /* 깨어있는시민연대당 */
    --party-20-our2020: #1A2F5C; /* 우리당2020 */
    --party-20-futureself: #AA0B2D; /* 미래자영업당 */

    /* [정당] 제19대 (접두사: --party-19-) */
    --party-19-hannara2012: #e32b34; /* 한나라당2012 */
    --party-19-peoples2016: #006241; /* 국민의당2016 */
    --party-19-saenuri: #C9252B; /* 새누리당 */
    --party-19-theminju: #003B96; /* 더불어민주당 */
    --party-19-chrlib: #0095DA; /* 기독자유당 */
    --party-19-newpol: #00CCFF; /* 새정치연합 */
    --party-19-rep2014: #D2232A; /* 공화당2014 */
    --party-19-npad: #0082CD; /* 새정치민주연합 */
    --party-19-justice: #FFED00; /* 정의당 */
    --party-19-progjustice: #FF007F; /* 진보정의당 */
    --party-19-uniprog: #782B90; /* 통합진보당 */
    --party-19-dem2014: #FBD02B; /* 민주당2014 */
    --party-19-dem2011: #015DA9; /* 민주당2011 */
    --party-19-demuni: #FFD400; /* 민주통합당 */
    --party-19-ppower2012: #808080; /* 국민의 힘2012 */
    --party-19-happy2011: #FE4D00; /* 국민행복당2011 */
    --party-19-happy2015: #8FA6A2; /* 국민행복당2015 */
    --party-19-culture: #FEF200; /* 문화예술당 */
    --party-19-christian: #755191; /* 기독당 */
    --party-19-chrisdem: #0167B7; /* 기독민주당 */
    --party-19-chrislibdem: #0059A9; /* 기독자유민주당 */
    --party-19-ganakorea: #4F1D12; /* 가나코리아 */
    --party-19-gophr: #7B9D2E; /* 가자!평화인권당 */
    --party-19-daehan: #4b3293; /* 대한당 */
    --party-19-gagahoho: #4b286f; /* 가가호호공명선거대한당 */
    --party-19-unidem2015: #00AF97; /* 통일민주당2015 */
    --party-19-partic: #F8C400; /* 국민참여신당 */
    --party-19-unikorea2016: #F47433; /* 통일한국당2016 */
    --party-19-buddhuni: #F1592A; /* 불교정도화합통일연합당 */
    --party-19-koreaecon: #F58229; /* 한국경제당 */
    --party-19-greenbudh: #609060; /* 그린불교연합당 */
    --party-19-green: #5CB32E; /* 녹색당 */
    --party-19-labor: #FF0000; /* 노동당 */
    --party-19-republick: #DE9B26; /* 대한민국당 */
    --party-19-humanrights: #0085C6; /* 인권정당 */
    --party-19-propark2012: #0C449B; /* 친박연대2012 */
    --party-19-reformnat: #3565B3; /* 개혁국민신당 */
    --party-19-hankook2015: #013588; /* 한국국민당2015 */
    --party-19-welfare: #EA5404; /* 한국복지당 */
    --party-19-hannara2013: #D61921; /* 한나라당2013 */
    --party-19-hanfutureuni: #E33334; /* 한반도미래연합 */

    /* [정당] 제18대 (접두사: --party-18-) */
    --party-18-gocenter: #1A2C8E; /* 가자!대국민중심당 */
    --party-18-found: #1F5937; /* 건국당 */
    --party-18-savepeople: #3432FF; /* 구국참사람연합 */
    --party-18-kthought: #F5821f; /* 국민생각 */
    --party-18-kpartic: #FCCA00; /* 국민참여당 */
    --party-18-youth: #F47920; /* 청년당 */
    --party-18-orthodem: #FEDD02; /* 정통민주당 */
    --party-18-daehankook: #005FB1; /* 대한국당 */
    --party-18-futureuni: #264280; /* 미래연합 */
    --party-18-futurek2008: #049CC4; /* 미래한국당2008 */
    --party-18-dem2008: #04972D; /* 민주당2008 */
    --party-18-cituni: #F7B618; /* 시민통합당 */
    --party-18-libfwd: #00529C; /* 자유선진당 */
    --party-18-jobuni: #20B838; /* 직능연합당 */
    --party-18-newprog: #DC143C; /* 진보신당 */
    --party-18-trueowner: #264088; /* 참주인연합 */
    --party-18-creative: #B30000; /* 창조한국당 */
    --party-18-futurehope: #0C449B; /* 미래희망연대 */
    --party-18-peacedem2010: #00A850; /* 평화민주당2010 */

    /* [정당] 제17대 (접두사: --party-17-) */
    --party-17-citizen: #08B048; /* 시민당 */
    --party-17-midreform: #B04880; /* 중도개혁통합신당 */
    --party-17-midunidem: #F7C517; /* 중도통합민주당 */
    --party-17-peoplecenter: #E85298; /* 국민중심당 */
    --party-17-peopleuni21: #4F689A; /* 국민통합21 */
    --party-17-grandunidem: #FF7F00; /* 대통합민주신당 */
    --party-17-dem2007: #00736D; /* 민주당2007 */
    --party-17-dem2000: #00736D; /* 민주당2000 */
    --party-17-dlp: #EE7700; /* 민주노동당 */
    --party-17-uri: #FFD700; /* 열린우리당 */
    --party-17-gohope2080: #0868B0; /* 가자희망2080 */
    --party-17-econrep: #ec000c; /* 경제공화당 */
    --party-17-natsafe: #440B3E; /* 국태민안호국당 */
    --party-17-intgreen: #8EC21F; /* 국제녹색당 */
    --party-17-newera: #3432ff; /* 새시대참사람연합 */
    --party-17-kchristian: #0966AF; /* 한국기독당 */
    --party-17-harmony: #800080; /* 화합과도약을위한국민연대 */
    --party-17-peacefam: #2EA443; /* 평화통일가정당 */
    --party-17-newfuture: #E02828; /* 신미래당 */
    --party-17-displaced: #00AF82; /* 국민실향안보당 */
    --party-17-chrislove: #000269; /* 기독사랑실천당 */

    /* [정당] 제16대 (접두사: --party-16-) */
    --party-16-dnp2000: #353F9C; /* 민주국민당2000 */
    --party-16-knew: #283C7B; /* 한국신당 */
    --party-16-hanmijun: #F2687C; /* 한미준 */
    --party-16-drp2000: #0D90D6; /* 민주공화당2000 */
    --party-16-youthprog: #DB5369; /* 청년진보당 */
    --party-16-hanarouni: #215AA6; /* 하나로국민연합 */
    --party-16-reformnat: #4CBB17; /* 개혁국민정당 */
    --party-16-seniors: #002080; /* 노년권익보호당 */
    --party-16-kfutureuni: #FB4B00; /* 한국미래연합 */
    --party-16-greenpeace: #4EB233; /* 녹색평화당 */
    --party-16-ksocdem: #0080FF; /* 한국사회민주당 */
    --party-16-kchristian04: #0966AF; /* 한국기독당2004 */
    --party-16-greensoc: #51B749; /* 녹색사민당 */
    --party-16-demharmony: #B00000; /* 민주화합당 */
    --party-16-savesgen: #386030; /* 구국총연합 */

    /* [정당] 제15대 (접두사: --party-15-) */
    --party-15-mdp: #00AA7B; /* 새천년민주당 */
    --party-15-gnp: #0095DA; /* 한나라당 */
    --party-15-nkp: #003990; /* 신한국당 */
    --party-15-npp: #336C77; /* 국민신당 */
    --party-15-ncnp: #009A44; /* 새정치국민회의 */
    --party-15-uld: #1B5B40; /* 자유민주연합 */
    --party-15-daehandem: #E0E0E0; /* 대한민주당 */
    --party-15-dem1995: #009D68; /* 민주당1995 */
    --party-15-construct: #FF3D00; /* 건설국민승리21 */
    --party-15-rightpol: #1e90ff; /* 바른나라정치연합 */

    /* [정당] 제14대 (접두사: --party-14-) */
    --party-14-fairdem: #CD5C5C; /* 공명민주당 */
    --party-14-dem1991: #009D68; /* 민주당1991 */
    --party-14-dlp: #003990; /* 민주자유당 */
    --party-14-minjung1990: #FFA500; /* 민중당1990 */
    --party-14-unp: #22B14C; /* 통일국민당 */
    --party-14-newpolref: #101299; /* 신정치개혁당 */
    --party-14-daehanjust: #388860; /* 대한정의당 */
    --party-14-newkorea: #080088; /* 새한국당 */
    --party-14-newp1994: #3D9069; /* 신민당1994 */
    --party-14-newp1995: #B83E99; /* 신민당1995 */
    --party-14-nonpart: #FF6699; /* 무정파전국연합 */
    --party-14-indepuni: #5290DB; /* 무당파국민연합 */
    --party-14-unikorea: #003793; /* 통일한국당 */

    /* [정당] 제13대 (접두사: --party-13-) */
    --party-13-socdem1985: #C81830; /* 사회민주당1985 */
    --party-13-ourjust: #5870C0; /* 우리정의당 */
    --party-13-thirdgen: #C84030; /* 제3세대당 */
    --party-13-hanju: #1840a0; /* 한주의통일한국당 */

    /* [정당] 제12대 (접두사: --party-12-) */
    --party-12-newsoc: #FF4500; /* 신정사회당 */
    --party-12-newdem: #189868; /* 신민주당 */
    --party-12-laborfarm: #A52A2A; /* 근로농민당 */

    /* [정당] 제11대 (접두사: --party-11-) */
    --party-11-djp: #0A84E9; /* 민주정의당 */
    --party-11-dkp: #ED2939; /* 민주한국당 */
    --party-11-knp: #498C00; /* 한국국민당 */
    --party-11-nkdp: #E6573B; /* 신한민주당 */
    --party-11-ndrp: #59955E; /* 신민주공화당 */
    --party-11-onedem: #3F3F3F; /* 일체민주당 */
    --party-11-rdp: #E60026; /* 통일민주당 */
    --party-11-uninat: #A4C400; /* 통일민족당 */
    --party-11-newdemuni: #70BA86; /* 신민주연합당 */
    --party-11-ppd: #FADA5E; /* 평화민주당 */
    --party-11-hangyore: #FF7F50; /* 한겨레민주당 */
    --party-11-demsoc: #ff8201; /* 민주사회당 */
    --party-11-civilrights: #4CA459; /* 민권당 */
    --party-11-newpol: #4697b2; /* 신정당 */
    --party-11-anmin: #a2a2a2; /* 안민당 */
    --party-11-demfarm: #A52A2A; /* 민주농민당 */
    --party-11-soc1981: #FF6347; /* 사회당1981 */

    /* [정당] 제6-9대 (접두사: --party-69-) */
    --party-69-shinmin: #3366ff; /* 신민회 */
    --party-69-libdem1963: #005848; /* 자유민주당1963 */
    --party-69-dem1963: #332B43; /* 민주당1963 */
    --party-69-minjung: #FFD700; /* 민정당 */
    --party-69-jeongmin: #4B0080; /* 정민회 */
    --party-69-chupung: #C78665; /* 추풍회 */
    --party-69-shinheung: #005099; /* 신흥당 */
    --party-69-peoples1963: #C2C247; /* 국민의당1963 */
    --party-69-drp: #835B38; /* 민주공화당 */
    --party-69-yujeong: #DAA520; /* 유신정우회 */
    --party-69-tonghan: #312f2a; /* 통한당 */
    --party-69-antiimp: #007FFF; /* 반제민족민주전선 */
    --party-69-minjung1965: #228B22; /* 민중당1965 */
    --party-69-minjung1967: #ffd2ad; /* 민중당1967 */
    --party-69-daejung: #3069A5; /* 대중당 */
    --party-69-ndp: #DC352A; /* 신민당 */
    --party-69-unisoc: #104d8e; /* 통일사회당 */
    --party-69-dem1967: #9acd32; /* 민주당1967 */
    --party-69-nat1971: #00AF89; /* 국민당1971 */
    --party-69-libpeople: #88C8C8; /* 자민당 */
    --party-69-dup: #FAC813; /* 민주통일당 */

    /* [정당] 제5대 (접두사: --party-5-) */
    --party-5-dem1955: #000080; /* 민주당1955 */
    --party-5-ksoc1960: #FF0080; /* 한국사회당1960 */
    --party-5-socmass: #DC143C; /* 사회대중당 */
    --party-5-constcom: #0990b3; /* 헌정동지회 */
    --party-5-innovcom: #e0e0e0; /* 혁신동지총연맹 */

    /* [정당] 제4대 (접두사: --party-4-) */
    --party-4-laborfarm: #fdff00; /* 노농당 */
    --party-4-korenat: #0087bd; /* 대한국민당 */
    --party-4-indeplabor: #353839; /* 독립노농당 */
    --party-4-deminnov: #FF0000; /* 민주혁신당 */
    --party-4-prog1956: #D6001C; /* 진보당1956 */

    /* [정당] 제3대 (접두사: --party-3-) */
    --party-3-chosundem: #CE0000; /* 조선민주당 */
    --party-3-klabor: #00a495; /* 대한노동총연맹 */
    --party-3-constass: #a2a2a2; /* 제헌국회의원동지회 */

    /* [정당] 제2대 (접두사: --party-2-) */
    --party-2-laborfarmyouth: #353839; /* 노농청년연맹 */
    --party-2-soc1948: #e63e62; /* 사회당1948 */
    --party-2-natself: #FF00FF; /* 민족자주연맹 */
    --party-2-kwomen: #0761BA; /* 대한부인회 */
    --party-2-dnp1949: #ADFF2F; /* 민주국민당1949 */

    /* [정당] 제1-5대 (접두사: --party-early-) *기존 15대와 충돌 방지 */
    --party-early-edu: #7fffd4; /* 교육협회 */
    --party-early-danmin: #dda0dd; /* 단민당 */
    --party-early-daeseong: #050099; /* 대성회 */
    --party-early-indlab: #00a495; /* 대한독립촉성노동총연맹 */
    --party-early-indfarm: #545aa7; /* 대한독립촉성농민총연맹 */
    --party-early-indwomen: #5056a3; /* 대한독립촉성애국부인회 */
    --party-early-daedong: #27176f; /* 대동청년단 */
    --party-early-indnat: #1271B5; /* 대한독립촉성국민회 */
    --party-early-women: #CF8854; /* 여자국민당 */
    --party-early-kyouth: #DA251D; /* 대한청년단 */
    --party-early-confuc: #282D7B; /* 유도회 */
    --party-early-ilmin: #c0c0ff; /* 일민구락부 */
    --party-early-lib: #254170; /* 자유당 */
    --party-early-mission: #6a5acd; /* 전도회 */
    --party-early-buddh: #800000; /* 중앙불교위원회 */
    --party-early-unification: #008080; /* 통일당 */
    --party-early-kdp: #008000; /* 한국민주당 */
    --party-early-kip: #113DA6; /* 한국독립당 */

    /* [정당] 제헌국회/미분류 (접두사: --party-jeheon-) *기존 0대 */
    --party-jeheon-people: #FF8000; /* 조선인민당 */
    --party-jeheon-busan15: #ffdead; /* 부산15구락부 */
    --party-jeheon-chosunrep: #FFB400; /* 조선공화당 */
    --party-jeheon-patwomen: #c3bcc4; /* 애국부인동지회 */
    --party-jeheon-youth1948: #c82100; /* 청년당1948 */
    --party-jeheon-indgov: #00b4ff; /* 한국독립정부수립대책협의회 */
    --party-jeheon-klaborp: #1700b9; /* 대한노동당 */
    --party-jeheon-kinnat: #ba55d3; /* 대한인국민회 */
    --party-jeheon-rep1997: #05517e; /* 공화당1997 */
    --party-jeheon-dem1990: #DA2C43; /* 민주당1990 */
    --party-jeheon-minjungp: #F48800; /* 민중의당 */
    --party-jeheon-demuni2008: #FDC300; /* 민주통일당2008 */
    --party-jeheon-con: #00A7E5; /* 보수당 */
    --party-jeheon-soc1998: #EF4122; /* 사회당1998 */
    --party-jeheon-newpolp: #0A51A1; /* 새정치당 */
    --party-jeheon-advuni: #025bad; /* 선진통일당 */
    --party-jeheon-newp1960: #047013; /* 신민당1960 */
    --party-jeheon-sinjeong: #1b00d9; /* 신정회 */
    --party-jeheon-sinjeongcom: #ba55d3; /* 신정동지회 */
    --party-jeheon-justice1967: #350887; /* 정의당1967 */
    --party-jeheon-natyouth: #4F7FD4; /* 조선민족청년단 */
    --party-jeheon-buddhaff: #F39C01; /* 조선불교교무원 */
}